<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phone Battery Percentage WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Phone Battery Percentage WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Phone Battery Percentage WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Phone Battery Percentage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77BFB2BF289C058700BDFD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77BFB2D5289C058800BDFD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77BFB2DF289C058800BDFD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77BFB2E9289C058800BDFD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77BFB30C289C058900BDFD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77BFB316289C058900BDFD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
